html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

body {
  /* Arial — выбор народный! */
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.Header {
  color: white; 
font-size: 1rem; 
font-family: Roboto;
}
a {
  width: fit-content;
  display: flex;
  text-decoration: none;
}


.Root {
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.HeaderWrapper {
  max-width: 80vw;
  min-width: 500px;
  height: 50px;
  top: 1%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  backdrop-filter: blur(20px);
}

.body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.Desktop1 {
  width: 100vw;
  height: 1024px;
  font-family: Roboto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
}

.Container {
  width: 100vw;
  height: 900px;
  left: 0px;
  top: 0px;
  position: relative;
  display: flex;
  background-attachment: scroll;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  padding: 4.375em;
  justify-content: space-between;
  /* justify-content: center;
  align-items: center; */
  width: 72vw;
  max-height: 900px;
  top: 0;
  position: relative;
  display: flex;

  border-radius: 30px;
  /* backdrop-filter: blur(50px); */
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  background-image:  url(./images/wrapper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  grid-template-columns: 50% auto;
  grid-template-areas:
  "A A A A   B B B B";


  /* @media only screen and (max-width: 768px) {
    display: grid;
  } */
  /* @media only screen and (max-width: 678px) {
    display: grid;
  } */
  /* @media only screen and (max-width: 520px) {
    display: grid;
  }
  @media only screen and (max-width: 480px) {
    display: grid;
  }

  @media only screen and (max-width: 320px) {
    display: grid;
  } */
}

.Title {
  padding: 75px 0 75px 0;
  /* left: 100px;
  top: 150px;
  position: absolute; */
  display: flex;
  color: #82e287;
  font-size: 4em;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}

.Subtitle {
  width: 366px;
  padding: 75px 0 0px 0;
  /* position: absolute; */
  color: white;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 0.64px;
  word-wrap: break-word;
}

.ABorealis {
  display: flex;
  color: white;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  gap: 10px;
}


.Cross {
  display: flex;
  width: 3px;
  height: 600px;
  /* position: absolute; */
  background: rgba(255, 255, 255, 0.2);
  margin: 0 40px 0 40px;

}

.Mock {
  padding: 0;
  width: 500px;
  height: 350px;
  /* right: 100px; */
  border-radius: 10px;
  display: flex;
  /* position: absolute; */
  overflow: hidden;
  margin: 75px 0 75px 0;
}
.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  object-fit: cover;
}

.carousel img {
  width: 100%;
  height: auto;
}

/* Для мобильных устройств */
@media only screen and (max-width: 768px) {
  .carousel-container {
    flex-wrap: nowrap;
  }

  .carousel-item {
    flex: 0 0 100%;
  }
}
/* Карусель */

.conmed {
  padding: 0 auto;
  display: grid;
  width: fit-content;
  height: fit-content;
  justify-content: flex-end; 
  align-items: flex-end; 
  text-align: right;
  float: right;
  grid-area: B;
}

.descont {
  grid-area: A;
}

.Groups { 
  margin-left: auto;
  text-align: right;
  float: right;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  display: flex;
  cursor: pointer;
  /* padding: 75px 0 75px 0; */

}


.Button {
  max-width: 500px;
  /* margin-top: 300px; */
  padding: 125px 0 0px 0;
  /* float: inline-end; */
  justify-self: end;
  align-self: flex-end;
  height: fit-content;
  /* bottom: 200px; */
  /* position: absolute; */
  /* left: 100px; */
}

.ButtonRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 26vw; */
  height: 100px;
  /* position: absolute; */
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

.Button:hover .ButtonRoot {
  transition: 0.3s;
  background: #82e287;
}

.Button:hover .Arrow {
  transition: 0.3s;
  transform: rotate(45deg);
}

.Arrow {
  width: 20px;
  height: 20px;
  display: flex;
  margin: auto;
  padding: auto;
  /* position: absolute; */
}

.Rectangle5 {
  width: 70px; /* Пример относительной ширины */
  height: 70px; /* Пример относительной высоты */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #82e287; 
  border-radius: 100%;
  margin: 0 10px 0 10px;
}

.Round:hover{
  background: #82e287;
  transition: 0.3s;
}

.Round {
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  background: white;
  border-radius: 150px;
}

.btext {
  margin: 0 30px 0 30px;
  text-wrap: nowrap;
  color: black;
  font-size:  32px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.64px;
  cursor: pointer;
  
}

.Button2 {
  margin-top: 280px;
  width: 500px;
  height: fit-content;
  float:left;
  display: flex;
  cursor: pointer;
  /* bottom: 200px; */
  /* position: absolute; */
  /* left: 100px; */
    

}

.ButtonRoot2 {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 100px;
  /* position: absolute; */
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

.Button2:hover .ButtonRoot2 {
  transition: 0.3s;
  background: #82e287;
}

.Button2:hover .Arrow2 {
  transition: 0.3s;
  transform: rotate(45deg);
}

.Arrow2 {
  width: 20px;
  height: 20px;
  left: 440px;
  top: 40px;
  /* position: absolute; */
}

.Rectangle6 {
  width: 70px; /* Пример относительной ширины */
  height: 70px; /* Пример относительной высоты */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #82e287; 
  border-radius: 100%;
  margin: 0 10px 0 10px;
}

.Round2:hover{
  background: #82e287;
  transition: 0.3s;
}

.Round2 {
  
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  background: white;
  border-radius: 150px;
}

.btext2 {
  padding-left: 10%;
  margin: 0 30px 0 30px;
  text-wrap: nowrap;
  color: black;
  font-size:  32px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.64px;
  cursor: pointer;
  
}

.HeaderWrapper {
  position: fixed;
  z-index: 10;
}

.Header {
  position: relative;
  padding: 12px 30px 0 30px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  color: white;
  font-size: 1em;
  font-weight: 300;
  word-wrap: break-word;
}

.link {
  color: white;
  font-size: 1.3em;
  font-family: Roboto;
  cursor: pointer;
  z-index: 10;
  position: relative;
}

.link:hover {
  color: #82e287;
  transition: 0.3s;
}



.main {
  max-height: 1024px;
  margin: auto;
}

.about {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  max-width: 100vw;
  max-height: 900px;
  background-color: #141615;
}

.bg {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.about {
  color: white;
  font-size: 20px;
  display: flex;
  height: 900px;

}

.aboutwrapper {
  margin-top: 50px;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  display: flex;
  max-width: 72vw;
  height: 700px;

}

.text {
  width: 60%;
  color: white;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 0.64px;
  word-wrap: break-word;
  padding: 0 10% 0 10%;
}

.h2 {
  top: -80px;
  left: 0;
  color: #82e287;
  font-size: 48px;
  font-weight: 300;
  font-family: Roboto;
  position: absolute;
}

.aboutimg {
  background-image:  url(./images/anfas.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  min-height: 300px;
  min-width: 300px;
}

.aboutroot {
  width: 80vw;
  height: 80%;
  margin: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image:  url(./images/AboutWrapper.png);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  background-attachment: fixed;
}

.portfolio {
  grid: 20px;
  display: grid;
  /* max-width: 80vw; */
  max-height: 900px;
  background-color: #141615;
}

.portwrapper {
  color: #fff;
  display: grid;
  max-width: 80vw;
  height: 900px;
  row-gap: 3px;
  column-gap: 1px;
  grid-template-columns: 50% auto;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  "A A A A   B B B B"
  "A A A A   C C C C";
  h2 {
    font-size: 36px;
    font-weight: 400;

  }
  p {
    padding: 10px 0 10px 0;
    font-size: 24px;
    font-weight: 300;
    width: 70%;
    margin-bottom: 20px;

  }

}

.info{
  opacity: 0;
}
.backdrop{
  /* backdrop-filter: opacity(20%) ; */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.0);
  padding: 70px;
}

.backdrop:hover {
  background: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.workone:hover {
  background-size:150%;
  transition: background ease 0.3s;
}

.worktwo:hover {
  background-size:110%;
  transition: background ease 0.3s;
}


.workthree:hover {
  background-size:110%;
  transition: background ease 0.3s;
}



.workone:hover .info {
  opacity: 1;
  transition: background ease  0.3s;
}

.worktwo:hover .info {
  opacity: 1;
  transition: background ease 0.3s;
} 

.workthree:hover .info {
  opacity: 1;
  transition: background ease 0.3s;
}

.workone {
  background-color: #141615;
  width: 50vw;
  height: 100%;
  grid-area: A;
  background-image:url(./images/Nam.ru.png);
  background-position: center;
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.worktwo {
  background-color: #cccccc;

  height: auto;
  width: 50vw;
  grid-area: B;
  background-image:url(./images/DM.png);
  background-position: center;
   background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;

}


.workthree {
  background-color: #141615;

  height: auto;
  width: 50vw;
  grid-area: C;
  background-image:url(./images/img.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.baloon {
  font-weight: 300;
  margin-top: 50px ;
  padding: 10px 10px 10px 10px;
   border: 1px solid #fff;
   border-radius: 50px;
}


.tabs {
  display: flex;
  flex-wrap: wrap;
  height: 900px;
  max-width: 1400px ;
}
 
.tabs label {
  margin-top: 0;
  order: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: 232323;
  font-weight: bold;
  transition: background ease 0.3s;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #232323;
  height: 100px;
}
 
.tabs .tab {
  margin-top: -200px;
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 600px;
  display: none;
  background: #303030;
  padding: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  justify-content: space-between;
}
 
.tabs input[type="radio"] {
  display: none;
  background: #232323;
}
 
.tabs input[type="radio"]:checked + label {
  background: #303030;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: #82e287 2px solid;
  border-bottom: none;
  color: #82e287;
}
 
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
  
}
 
/* @media (max-width: 465px) {
  .tabs .tab,
  .tabs label {
   order: initial;
   
  }
 
  .tabs label {
    
    width: 100%;
    margin-left: 50px;
  }
}
  */
.price {
  color: white;
  font-size: 20px;
  background: #141615;
  box-sizing: border-box;
  padding-top: 100px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 100vw;
  margin: auto;
  font-size: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 900px;

  h1 {
    font-size: 40px;
    font-weight: 400;
    width: fit-content;
  }



  h3 {
    width: 200px;
    font-size: 24px;
    font-weight: 300;
    height: 60px;
  }

  p {
    margin: 20px 0 20px 0;
    width: 400px;
    font-size: 24px;
    font-weight: 300;
    max-height: 40px;
  }

} 

.priceroot {
    padding-top: 100px;
    margin-top: -200px;
    height: 900px;
  
  h2 {
    color: #82e287;
    font-size: 48px;
    font-weight: 300;
    font-family: Roboto;
    
  }
}

.box {

  margin-top: -500px;
  margin-right: 40px;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #82e287;
  display: flex;
  float: right;
}

.blurbox {
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  width: 500px;
  height: 500px;
  left: 40px;
  bottom: 40px;
  position: relative;
  display: flex;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  border-radius: 20px;
  backdrop-filter: blur(50px);
}

.blurnoise {
  background-image:  url(./images/Noise.png);
  background-size: contain;
  background-position: center;
  width: 500px;
  height: 500px;
  border-radius: 30px;
  opacity: 0.2;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

.land {
  background-image:url(./images/Landing.png);
  right: 20px;
  top: 20px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  display: flex;
}

.pages {
  background-image:url(./images/Pages.png);
  right: 20px;
  top: 20px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  display: flex;
}

.store {
  background-image:url(./images/Store.png);
  right: 20px;
  top: 20px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  display: flex;
}



.how {
  
  display: flex;
  width: 100vw;
  max-height: 900px;
  background-color: #141615;
}

.accord {
  display: flex;
  max-width: 72vw;
  margin: auto;
  /* padding:2em 0 2em 0; */
  /* margin: auto;
  justify-content: center;
  align-items: center; */
  color: white;
  font-size: 20px;
  /* display: flex; */
  max-height: 900px;
  
}

/* /updated ver */
* {
  box-sizing:border-box;
}

.heading-primary {
  width: full;
  color: #82e287;
  font-size: 48px;
  font-weight: 300;
  font-family: Roboto;
  padding: 2em 0 1em 0;
 
  
}
.accordion dl,
.accordion-list {
   
   &:after {
       content: "";
       
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#232323, 10%);
     }
}
.accordion dd,
.accordion__panel {
   background-color:#303030;
   font-size:1em;
   line-height:1.5em; 
   
}
.accordion p {
  padding:1em 2em 1em 2em;
  font-weight:300; 
  
}

.accordion {
    justify-content: start;
    align-items:start;
    position:relative;
    background-color:#232323;
    border-radius: 20px;
}

.accordionTitle,
.accordion__Heading {
 background-color:#232323; 
   text-align:left;
   
   font-size: 24px;
     font-weight:300; 
          padding:2em;
          display:block;
          width: 100%;
          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken #303030;
  &:before {
   content: "+";
   font-weight: 100;
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
    color: #82e287;
    transition: transform 0.3s ease-in-out;
    margin: 0 20px 0 0;
  }
  &:hover {
    background-color:#303030;
    color: #82e287;
    transition: 0.3s;
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#303030, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden; 
    /* //SHAME: magic number to allow the accordion to animate
     */
     max-height:50em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}

.footer {
  max-width: 100vw;
  max-height: 900px;
  background-color: #141615;
  padding-top: 300px;
  position: absolute;
}

.footerwrapper {
 
  width: 100vw;
  height: 800px;
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  background-image:  url(./images/Footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-attachment: fixed;
  padding: 100px 12em 100px 12em;

  p {
    margin-top: 100px;
    font-size: 3em;
    color: #fff;
    font-weight: 300;
    width: 13em;
  }
}

.footertitle {
  display: flex;
  color: #82e287;
  font-size: 4em;
  font-weight: 400;
  font-family: Roboto;
}

.footerwrapper {
  justify-content: space-between;
}

.footerlink {
  text-align: right;
}

.footerlinks {
  grid-template-rows:max-content;
  display: grid;
  direction: rtl;
  margin-top: 100px;
  font-size: 3em;
  color: #fff;
  font-weight: 400;
  width: 13em;
  text-align: right;
  float: right;
  cursor: pointer;

  div {
    margin-bottom: 40px;
    text-align: right;
  }

  a {
    direction: rtl;
    text-decoration: none;
    color: #fff;
    text-align: right;
    align-self: flex-end;
    float: right;
  }

}

.footerlink:hover {

  color: #82e287;
  transition: all 0.3s;

}

.footerlogo {
  font-size: 1.3em;
  color: #fff;
  font-weight: 300;
  text-align: center;
  float:inline-end;
  cursor: pointer;
  align-self: flex-end;
}

/*форма обратной связи */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  font-weight: 300;

  h2 {
    margin: 20px 0 20px 0;
     font-weight: 300;
  }
}

.modal-content {
  background-color: #141615;
  margin: 15% auto;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
}

.close {
  color: #Fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #82e287;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}

button[type="submit"]:hover {
  background-color: #82e287;
}



@media only screen and (max-width: 1400px) {

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vh ;
  }
  
  .Wrapper {
    padding: 3em;
    width: 90vw;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 400px;
    height: 400px;

  }
}

 @media only screen and (max-width: 1200px) {

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vh ;
  }

  .Cross {
    display: none;
  }

  .Wrapper {
    padding: 3em;
    width: 900px;
  }

  /* .carousel 
  img {
  width: 400px;
  height: 350; */

  
 .workone,.worktwo,.workthree {
    background-size: cover;
    
  }

  .backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

  .info {
    opacity: 1;
  }
  .Mock {
    max-width: 450px;
    max-height: 300px;
  }  
  .footerwrapper {
  padding: 40px 2em 40px 2em;

  p {
    font-size: 2em;
  }

  }

  .Button, .Subtitle {
    padding: 60px 0 60px 0;
  }

  .ButtonRoot, .Button2 {
    max-width: 400px;
  }

  .Title {
    padding: 60px 0 60px 0;
  }

  .Title, .footertitle {
    font-size: 3em;
  }

  .footerlinks {
    font-size: 2em;
  }

  .btext {
    font-size: 26px;
    padding: 0 0px 0 20px;
  }
}

@media only screen and (max-width: 1024px) {

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vh ;
  }


  .Header {
    color: white; 
  font-size: 1.3rem; 
  font-family: Roboto; 
}
  .HeaderWrapper {
    width: 60vw;
  
  }

  .Wrapper {
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      /* height: 90vh; */
      
  }

  .conmed {
    grid-column: auto;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }


  .Mock {

    width: 100%;
    height: auto;
    margin: 0 0 0 0;
  } 

  .footerwrapper {
  padding: 10px 1em 10px 1em;
  

  p {
    font-size: 2em;
  }
  }

  .Title, .footertitle {
    font-size: 4em;
  }

  .Subtitle,.Title {
    padding: 20px 0 20px 0;
  }

  .footerlinks {
    font-size: 2em;
  }

  .Button {
    text-align: right;
    justify-content: end;
    align-items: end;
    align-self: flex-end;
    float:right;
 
    padding: 0px 0 0px 0;
  }

  .ButtonRoot {

    margin: 0;
  
    padding: 0px 0 0px 0;
  }

  .btext2 {
    padding-left: 0;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 300px;
    height: 500px;

  }

  .footerwrapper {
    padding: 40px 2em 40px 2em;
    
  
    p {
      font-size: 2em;
    }
    }

    .text {
      display: flex;
      align-self: center;
      justify-self: center;
      /* width: 600px; */
      /* right: 6.25rem; */
      position: relative;
      color: white;
      font-size: 20px;
      font-family: Roboto;
      font-weight: 300;
      letter-spacing: 0.64px;
      word-wrap: break-word;
    }
  
}

@media only screen and (max-width: 946px){

  .Header {
    color: white; 
  font-size: 1.3rem; 
  font-family: Roboto; 
}
  .HeaderWrapper {
    width: 60vw;
  
  }

  .Wrapper {
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      /* height: 90vh; */
      
  }

  .conmed {
    margin-top: 0;
    grid-column: auto;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }


  .Mock {
    width: 100%;
    height: fit-content;
    margin: 0 0 0 0;
  } 

  .footerwrapper {
  padding: 10px 2em 10px 2em;
  

  p {
    font-size: 2em;
  }
  }

  .Title, .footertitle {
    font-size: 3em;
  }

  .Subtitle, .Title {
    padding: 20px 0 20px 0;
  }

  .footerlinks {
    font-size: 2em;
  }

  .Button {
    text-align: right;
    justify-content: end;
    align-items: end;
    align-self: flex-end;
    float:right;
 
    padding: 0px 0 0px 0;
  }

  .ButtonRoot {

    margin: 0;
  
    padding: 0px 0 0px 0;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 300px;
    height: 500px;

  }

  .aboutroot {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;

    div {
      margin: auto;
      display: flex;
      width: 80%;
      position: relative;
      color: white;
      font-size: 20px;
      font-family: Roboto;
      font-weight: 300;
      letter-spacing: 0.64px;
      /* word-wrap: break-word; */
    }
  }


  
}




@media only screen and (max-width: 832px){

  .Header {
    color: white; 
  font-size: 1.3rem; 
  font-family: Roboto; 
}
  .HeaderWrapper {
    width: 60vw;
  
  }

  .Wrapper {
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      /* height: 90vh; */
      
  }

  .conmed {
    margin-top: 0;
    grid-column: auto;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }


  .Mock {
    width: 100%;
    height: fit-content;
    margin: 0 0 0 0;
  } 

  .footerwrapper {
  padding: 10px 2em 10px 2em;
  

  p {
    font-size: 2em;
  }
  }

  .Title, .footertitle {
    font-size: 3em;
  }

  .Subtitle, .Title {
    padding: 20px 0 20px 0;
  }

  .Subtitle {
    padding: 20px 0 20px 0;
  }
  .footerlinks {
    font-size: 2em;
  }

  .Button {
    max-width: 90vw;
    min-width: 90vw;
    padding: 0px 0 0px 0;
  }
  .ButtonRoot {

    max-width: 90vw;
    min-width: 90vw;

  }

  .Button2 {
    margin-top: 590px;
    min-width: 95vw;
    max-width: 95vw;
  }

  .ButtonRoot2 {
    max-width: 95vw;
    min-width: 95vw;
    margin-top: -180px;

  }


  .ButtonRoot {

    margin: 0;
  
    padding: 0px 0 0px 0;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {
    width: 90vw;
    height: 300px;
    float: left;
    margin-bottom: 20px;
  }

  .about {
    justify-content: center;
    align-items: center;
  }

  .aboutroot {
    display: inline;
    height: auto;
    padding: 10px 0 10px;
   div {
    font-size: 18px;
   }
  }

  .aboutimg {
    max-width: 300px;
    max-height: 200px;
  }

  .text {
    padding: 10px 0 0 0;
    font-size: 18px;
  }
  
  .price {

    
    h3 {
      font-size: 24px;
    }
  }

  .tabs label {

    padding: 1rem 1rem;

  }

  .tabs .tab {
    padding: 1rem;

    
  }

  .price {
    p {
      width: 700px;
    }
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;


  }



  .how {
    height: 900px;
  }

  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {

      font-size: 24px;
    }
  
  }
  
}



@media only screen and (max-width: 768px) {

  

  .Header {
    color: white; 
  font-size: 1.3rem; 
  font-family: Roboto; 
}
  .HeaderWrapper {
    width: 60vw;
  
  }

  .Wrapper {
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      height: 90vh;
      
  }

  .conmed {
    margin-top: 0;
    grid-column: auto;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }


  .Mock {
    width: 100%;
    height: fit-content;
    margin: 0 0 0 0;
  } 
v

  .Title, .footertitle {
    font-size: 4em;
    
  }

  .Title {
    padding: 20px 0 20px 0;
  }

  .Subtitle {
    padding: 20px 0 20px 0;
  }

  .footerlinks {
    font-size: 2em;

      font-size: 26px;
      margin:0 0 0 0;
    
  }

  .Button {
    text-align: right;
    justify-content: end;
    align-items: end;
    align-self: flex-end;
    float:right;
 
    padding: 0px 0 0px 0;
  }

  .ButtonRoot {

    margin: 0;
  
    padding: 0px 0 0px 0;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 90vw;
    height: 300px;
    float: left;
    margin-bottom: 20px;
  }

  .priceroot {
    h3 {
      font-size: 20px;
    }
  }

  .portfolio {
    /* grid: 20px; */
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #141615;

    h2 {
      top: -80px;
      left: 0;
      color: #82e287;
      font-size: 48px;
      font-weight: 300;
      font-family: Roboto;
      /* position: absolute; */
    }
  }
  
  .portwrapper {
    color: #fff;
    display: block;
    width: 100vw;
    min-height: 100vh;
    row-gap: 3px;
    column-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "A"
    "B"
    "C";
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {
      padding: 10px 0 10px 0;
      font-size: 24px;
      font-weight: 300;
      width: 70%;
      margin-bottom: 20px;
  
    }
    .workone,.worktwo,.workthree {
      width: 100vw;
      height: 500px;
    }
  
  }

  .tabs label {

    padding: 0.6rem 0.6rem;

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;
  }


  .btext2 {
    padding-left: 20%;
  }

  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {

      font-size: 24px;
    }
  
  }


}


@media only screen and (max-width: 667px) {

  .Header {
    color: white; 
  font-size: 1.3rem; 
  font-family: Roboto; 
}
  .HeaderWrapper {
    width: 60vw;
  
  }

  .Wrapper {
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      height: 90vh;
      
  }

  .conmed {
    margin-top: 0;
    grid-column: auto;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }


  .Mock {
    width: 100%;
    height: fit-content;
    margin: 0 0 0 0;
  } 
v

  .Title, .footertitle {
    font-size: 4em;
    
  }

  .Title {
    padding: 20px 0 20px 0;
  }

  .Subtitle {
    padding: 20px 0 20px 0;
  }

  .footerlinks {
    font-size: 2em;

      font-size: 26px;
      margin:0 0 0 0;
    
  }

  .Button {
    text-align: right;
    justify-content: end;
    align-items: end;
    align-self: flex-end;
    float:right;
 
    padding: 0px 0 0px 0;
  }

  .ButtonRoot {

    margin: 0;
  
    padding: 0px 0 0px 0;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 90vw;
    height: 300px;
    float: left;
    margin-bottom: 20px;
  }

  .priceroot {
    h3 {
      font-size: 20px;
    }
  }

  .portfolio {
    /* grid: 20px; */
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #141615;

    h2 {
      top: -80px;
      left: 0;
      color: #82e287;
      font-size: 48px;
      font-weight: 300;
      font-family: Roboto;
      /* position: absolute; */
    }
  }
  
  .portwrapper {
    color: #fff;
    display: block;
    width: 100vw;
    min-height: 100vh;
    row-gap: 3px;
    column-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "A"
    "B"
    "C";
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {
      padding: 10px 0 10px 0;
      font-size: 24px;
      font-weight: 300;
      width: 70%;
      margin-bottom: 20px;
  
    }
    .workone,.worktwo,.workthree {
      width: 100vw;
      height: 500px;
    }
  
  }

  .price p {
    width: auto;
  }

  .tabs label {
    text-align: center;
    padding: 0.2rem 0.2rem;

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;
  }


  .btext2 {
    padding-left: 20%;
  }

  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {

      font-size: 24px;
    }
  
  }


}

@media only screen and (max-width: 550px) {

  .Header {
    color: white; 
  font-size: 1.3rem; 
  font-family: Roboto; 
}
  .HeaderWrapper {
    width: 60vw;
  
  }

  .Wrapper {
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      height: 900px;
      width: 99vw;
      
  }

  .conmed {
    margin-top: 0;
    grid-column: auto;
    padding: 0 18px 0 18px;
    width: 100%;
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }


  .Mock {
    width: 100%;
    height: fit-content;
    margin: 0 0 0 0;
  } 
v

  .Title, .footertitle {
    font-size: 2em;
    
  }

  .Title {
    padding: 0px 0 0px 0;
  }

  .Subtitle {
    padding: 50px 0 50px 0;
  }

  .footerwrapper
   p {
    font-size: 26px;
    width: auto;
  }

  .footerlinks {
      font-size: 26px;
      margin:0 0 0 0;
    
  }

  .Button {
    text-align: right;
    justify-content: end;
    align-items: end;
    align-self: flex-end;
    float:right;
 
    padding: 0px 0 0px 0;
  }

  .ButtonRoot {

    margin: 0;
  
    padding: 0px 0 0px 0;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 85vw;
    height: 300px;
    float: left;
    margin-bottom: 20px;
  }

  .priceroot {
    h3 {
      font-size: 20px;
    }
  }

  .portfolio {
    /* grid: 20px; */
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #141615;

    h2 {
      top: -80px;
      left: 0;
      color: #82e287;
      font-size: 48px;
      font-weight: 300;
      font-family: Roboto;
      /* position: absolute; */
    }
  }
  
  .portwrapper {
    color: #fff;
    display: block;
    width: 100vw;
    min-height: 100vh;
    row-gap: 3px;
    column-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "A"
    "B"
    "C";
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {
      padding: 10px 0 10px 0;
      font-size: 24px;
      font-weight: 300;
      width: 70%;
      margin-bottom: 20px;
  
    }
    .workone,.worktwo,.workthree {
      width: 100vw;
      height: 500px;
    }
  
  }

  .price p {
    width: auto;
    font-size: 18px;
  }

  .tabs label {

    text-align: center;
    padding: 0.2rem 0.2rem;
    width: 155px;

    h3 {
      font-size: 16px;
    }

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;
  }


  .btext2 {
    padding-left: 10%;
  }

  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {

      font-size: 24px;
    }
  
  }


}


@media only screen and (max-width: 490px)   {

  .accord {
    max-width: 99vw;
  }

  
  .aboutwrapper 
  {
    margin: 0 0 0 0;
   max-width: 99vw;
   min-width: 99vw;
  }
  .aboutroot {
    max-width: 99vw;
    min-width: 99vw;
    margin: 0 0 0 0;
    padding: 20px 0 20px;

    div {
        margin-top: 10px;

    }
  }





  .backdrop {
    padding: 30px;
  }

  .Header {
    color: white; 
  font-size: 16px; 
  font-family: Roboto; 
  
}
  .HeaderWrapper {
    min-width: 90vw;
  
  }

  .Wrapper {
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      height: 90vh;
      width: 99v;
      
  }

  .aboutimg {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
  }
  .Button {

    margin-bottom: 200px;

    height: 70px;
    
    padding: 0px 0 0px 0;
  }

  .ButtonRoot {
    max-width: 95%;
    min-width: 95%;
    height: 80px;
    /* max-width: 100%; */
  }

  .conmed {
    margin-left: auto;
    margin-top: 0;
    grid-column: auto;
    padding: 0 5px 0 5px;
    width: 90%;
    max-height: 400px;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
  }

  
  .Mock {

    width: 97%;
    margin: 0 0 0 0;
  } 



  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }


  .Mock {
    width: 85vw;
    height: fit-content;
    margin: 0 0 0 0;
  } 
v

  .Title, .footertitle {
    font-size: 2em;
    
  }

  .Title {
    padding: 0px 0 0px 0;
  }

  .Subtitle {
    padding: 50px 0 50px 0;
  }

  .footerwrapper
   p {
    font-size: 26px;
    width: auto;
  }

  .footerlinks {
      font-size: 26px;
      margin:100px 0 0 0;
    
  }


  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 80vw;
    height: 300px;
    float: left;
    margin-bottom: 20px;
  }

  .priceroot {
    h3 {
      font-size: 20px;
    }
  }

  .portfolio {
    /* grid: 20px; */
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #141615;

    h2 {
      top: -80px;
      left: 0;
      color: #82e287;
      font-size: 48px;
      font-weight: 300;
      font-family: Roboto;
      /* position: absolute; */
    }
  }
  
  .portwrapper {
    color: #fff;
    display: block;
    width: 100vw;
    min-height: 100vh;
    row-gap: 3px;
    column-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "A"
    "B"
    "C";
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {
      padding: 10px 0 10px 0;
      font-size: 24px;
      font-weight: 300;
      width: 70%;
      margin-bottom: 20px;
  
    }
    .workone,.worktwo,.workthree {
      width: 100vw;
      height: 500px;
    }
  
  }

  .price 
  h1 {
    font-size: 24px;
  }
  p {
    width: auto;
    font-size: 18px;
  }

  .tabs label {

    text-align: center;
    padding: 0.2rem 0.2rem;
    width: 140px;

    h3 {
      font-size: 14px;
    }

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;
  }

  .tabs .tab {

    height: 670px;

  }


  .btext2, .btext {
    padding-left: 0%;
    margin: 0 10px 0 30px;
  }

  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {

      font-size: 24px;
    }
  
  }


}


@media only screen and (max-width: 456px)  {
  .aboutimg {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;

  }

  .aboutwrapper 
  {
    margin: 0 0 0 0;
   max-width: 99vw;
   min-width: 99vw;
  }
  .aboutroot {
    max-width: 99vw;
    min-width: 99vw;
    margin: 0 0 0 0;
   
  }


  .accordionTitle {
    font-size: 20px;
  }

  .Header {
    color: white; 
  font-size: 16px; 
  font-family: Roboto; 
  
}
  .HeaderWrapper {
    min-width: 90vw;
  
  }

  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }



  .Title, .footertitle {
    font-size: 2em;
    
  }

  .Title {
    padding: 0px 0 0px 0;
  }

  .Subtitle {
    padding: 50px 0 50px 0;
  }

  .footerwrapper
   p {
    font-size: 26px;
    width: auto;
  }

  .footerlinks {
      font-size: 26px;
      margin:100px 0 0 0;
    
  }


  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 80vw;
    height: 300px;
    float: left;
    margin-bottom: 20px;
  }

  .priceroot {
    h3 {
      font-size: 20px;
    }
  }

  .portfolio {
    /* grid: 20px; */
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #141615;

    h2 {
      top: -80px;
      left: 0;
      color: #82e287;
      font-size: 48px;
      font-weight: 300;
      font-family: Roboto;
      /* position: absolute; */
    }
  }
  
  .portwrapper {
    color: #fff;
    display: block;
    width: 100vw;
    min-height: 100vh;
    row-gap: 3px;
    column-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "A"
    "B"
    "C";
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {
      padding: 10px 0 10px 0;
      font-size: 24px;
      font-weight: 300;
      width: 70%;
      margin-bottom: 20px;
  
    }
    .workone,.worktwo,.workthree {
      width: 100vw;
      height: 500px;
    }
  
  }

  .price 
  h1 {
    font-size: 24px;
  }
  p {
    width: auto;
    font-size: 18px;
  }

  .tabs label {

    text-align: center;
    padding: 0.2rem 0.2rem;
    width: 140px;

    h3 {
      font-size: 14px;
    }

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;
  }


  .btext2, .btext {
    padding-left: 0%;
    margin: 0 10px 0 30px;
  }


  
  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {

      font-size: 24px;
    }
  
  }

}



@media only screen and (max-width: 430px)   {

  .aboutimg {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;

  }
  
  .conmed {
    margin-left: 20px;
    margin-top: 0;
    grid-column: auto;
    padding: 0 5px 0 5px;
    width: 85vw;
    max-height: 300px;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
  }

  .Header {
    color: white; 
  font-size: 16px; 
  font-family: Roboto; 
  
}
  .HeaderWrapper {
    min-width: 90vw;
  
  }



  .Groups {
    margin-top: 20px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }


  .text {
    padding: 0;
    
  }

  .aboutroot, .about, .aboutimg  {
    border-radius: 15px;
  }

  .aboutroot  div {
    font-weight: 200;
    font-size: 18px;
  }

  .Title, .footertitle {
    font-size: 2em;
    
  }

  .Title {
    padding: 0px 0 0px 0;
  }

  .Subtitle {
    font-size: 1.5em;
    padding: 50px 0 50px 0;
  }

  .footerwrapper
   p {
    font-size: 26px;
    width: auto;
  }

  .footerlinks {
      font-size: 26px;
      margin:100px 0 0 0;
    
  }


  .Button2 {
    min-width: 90vw;
    max-width: 90vw;
  }

  .ButtonRoot2 {
    min-width: 90vw;
    max-width: 90vw;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {
    border-radius: 15px;
    width: 80vw;
    height: 300px;
    float: left;
    margin-bottom: 20px;
  }

  .priceroot {
    h3 {
      font-size: 20px;
    }
  }

  .portfolio {
    /* grid: 20px; */
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #141615;

    h2 {
      top: -80px;
      left: 0;
      color: #82e287;
      font-size: 48px;
      font-weight: 300;
      font-family: Roboto;
      /* position: absolute; */
    }
  }
  
  .portwrapper {
    color: #fff;
    display: block;
    width: 100vw;
    min-height: 100vh;
    row-gap: 3px;
    column-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "A"
    "B"
    "C";
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {
      padding: 10px 0 10px 0;
      font-size: 24px;
      font-weight: 300;
      width: 70%;
      margin-bottom: 20px;
  
    }
    .workone,.worktwo,.workthree {
      width: 100vw;
      height: 500px;
    }
  
  }

  .price 
  h1 {
    font-size: 24px;
  }
  p {
    width: auto;
    font-size: 18px;
  }

  .tabs label {

    text-align: center;
    padding: 0.2rem 0.2rem;
    width: 130px;

    h3 {
      font-size: 14px;
    }

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;
  }


  .btext2, .btext {
    font-size: 24px;
    padding-left: 0%;
    margin: 0 10px 0 30px;
  }


  
  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 24px;
      font-weight: 400;
  
    }
    p {
      
      font-size: 18px;
    }
  
  }

  .baloons {
    height: 30px;
    width: 100vw;
    margin-top: 20px;
    font-size: 16px;
    gap: 20px;
  }

}

@media only screen and (max-width: 414px)   {



  .footerwrapper{

    min-height: 600px;
  p {
   font-size: 26px;
   width: auto;
 }
}


  .Header {
    color: white; 
  font-size: 14px; 
  font-family: Roboto; 
  
}
  .HeaderWrapper {
    min-width: 90vw;
  
  }

  .Wrapper {
    margin-top: -100px;
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      height: 80vh;
      width: 99vw;
      
  }

  .Title, .Subtitle {
    width: 85%;
  }



  .Button {

    margin-bottom: 0px;
    max-width: 100%;
    min-width: 100%;
    height: 70px;
    padding: 0px 0 0px 0;
  }

  .ButtonRoot {
    height: 80px;
    max-width: 85vw;
    min-width: 85vw;
    /* max-width: 100%; */
  }

  .conmed {
    margin-left: 0;
    margin-top: 0;
    grid-column: auto;
    padding: 0 5px 0 5px;
    /* width: 90%; */
    max-height: 300px;
 width: 85vw;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
  }

  
  .Mock {

    width: 97%;
    margin: 0 0 0 0;
  } 

  .Groups {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }



  .text {
    padding: 0;
    
  }

  .aboutroot div {
    font-weight: 200;
    font-size: 18px;
  }

  .Title, .footertitle {
    font-size: 2em;
    
  }

  .Title {
    padding: 0px 0 0px 0;
    margin-top: -200px;
  }

  .Subtitle {
    font-size: 1.2em;
    padding: 20px 0 20px 0;
  }

  .footerwrapper{

    height: 60vh;
   p {
    font-size: 18px;
    width: auto;
  }
  }
  .footerlinks {
      font-size: 20px;
      margin:100px 0 0 0;
    
  }

 

  .Button2 {
    min-width: 90vw;
    max-width: 90vw;
  }

  .ButtonRoot2 {
    min-width: 90vw;
    max-width: 90vw;
    max-height: 80px;
    margin-top: -320px;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 80vw;
    height: 150px;
    float: left;
    margin-bottom: 20px;
  }

  .priceroot {
    h3 {
      font-size: 20px;
    }
  }

  .portfolio {
    /* grid: 20px; */
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #141615;

    h2 {
      top: -80px;
      left: 0;
      color: #82e287;
      font-size: 48px;
      font-weight: 300;
      font-family: Roboto;
      /* position: absolute; */
    }
  }
  
  .portwrapper {
    color: #fff;
    display: block;
    width: 100vw;
    min-height: 100vh;
    row-gap: 3px;
    column-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "A"
    "B"
    "C";
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {
      padding: 10px 0 10px 0;
      font-size: 24px;
      font-weight: 300;
      width: 70%;
      margin-bottom: 20px;
  
    }
    .workone,.worktwo,.workthree {
      width: 100vw;
      height: 500px;
    }
  
  }

  .price {
  h1 {
    font-size: 24px;
  }
  p {
    width: auto;
    font-size: 16px;
  }
}

  .tabs label {
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
    padding: 0.2rem 0.2rem;
    width: 110px;

    h3 {
      font-size: 12px;
    }

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;
  }

  .tabs .tab{
    height: 500px;
    margin-bottom: auto;
    margin-top: -350px;
  }


  .btext2, .btext {
    font-size: 20px;
    padding-left: 0%;
    margin: 0 10px 0 30px;
  }

  
  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 24px;
      font-weight: 400;
  
    }
    p {

      font-size: 18px;
    }
  
  }


}



@media only screen and (max-width: 390px) {


  .Header {
    color: white; 
  font-size: 14px; 
  font-family: Roboto; 
  
}
  .HeaderWrapper {
    min-width: 90vw;
  
  }

  .Wrapper {
    margin-top: -100px;
    display: grid;
      padding: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "B"
      "A";
      height: 80vh;
      width: 99vw;
      
  }

  .Button {

    margin-bottom: 0px;
    max-width: 100%;
    min-width: 100%;
    height: 70px;
    width: 90%;
    padding: 0px 0 0px 0;
  }

 

  .ButtonRoot {
    height: 80px;
    max-width: 82vw;
    min-width: 82vw;
    /* max-width: 100%; */
  }

  .conmed {
    margin-top: 0;
    grid-column: auto;
    padding: 0 5px 0 5px;
    width: 85vw;
    max-height: 300px;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
  }

  
  .Mock {

    width: 97%;
    margin: 0 0 0 0;
  } 

  .Groups {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 20px;

  }


  .Cross {
    margin: 1em;
    display: none;
  }



  .text {
    padding: 0;
    
  }

  .aboutroot div {
    font-weight: 200;
    font-size: 18px;
  }

  .Title, .footertitle {
    font-size: 2em;
    
  }

  .Title {
    padding: 0px 0 0px 0;
    margin-top: -200px;
  }

  .Subtitle {
    font-size: 1.2em;
    padding: 20px 0 20px 0;
  }

  .footerwrapper{

    height: 60vh;
   p {
    font-size: 18px;
    width: auto;
  }
  }
  .footerlinks {
      font-size: 20px;
      margin:100px 0 0 0;
    
  }

 

  .Button2 {
    min-width: 90vw;
    max-width: 90vw;
  }

  .ButtonRoot2 {
    min-width: 90vw;
    max-width: 90vw;
    max-height: 80px;
    margin-top: -320px;
  }

  .box,.blurbox,.blurnoise,.land,.pages,.store {

    width: 80vw;
    height: 150px;
    float: left;
    margin-bottom: 20px;
  }

  .priceroot {
    margin-top: 10px;
    h3 {
      font-size: 20px;
    }
  }

  .portfolio {
    /* grid: 20px; */
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-color: #141615;

    h2 {
      top: -80px;
      left: 0;
      color: #82e287;
      font-size: 48px;
      font-weight: 300;
      font-family: Roboto;
      /* position: absolute; */
    }
  }
  
  .portwrapper {
    color: #fff;
    display: block;
    width: 100vw;
    min-height: 100vh;
    row-gap: 3px;
    column-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "A"
    "B"
    "C";
    h2 {
      font-size: 36px;
      font-weight: 400;
  
    }
    p {
      padding: 10px 0 10px 0;
      font-size: 24px;
      font-weight: 300;
      width: 70%;
      margin-bottom: 20px;
  
    }
    .workone,.worktwo,.workthree {
      width: 100vw;
      height: 500px;
    }
  
  }

  .price {
  h1 {
    font-size: 24px;
  }
  p {
    width: auto;
    font-size: 16px;
  }
}

  .tabs label {
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
    padding: 0.2rem 0.2rem;
    width: 110px;

    h3 {
      font-size: 12px;
    }

  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-width: 100vw ;
  }

  .tabs .tab{
    height: 500px;
    margin-bottom: auto;
    margin-top: -350px;
  }


  .btext2, .btext {
    font-size: 20px;
    padding-left: 0%;
    margin: 0 10px 0 30px;
  }

  
  .portfolio {

    min-height: 200vh;
  }
  
  .portwrapper {

    min-height: 200vh;
    h2 {
      font-size: 24px;
      font-weight: 400;
  
    }
    p {

      font-size: 18px;
    }
  
  }


}
